@mixin button-main {
    &__anchor {
        display: flex;
        justify-content: center;
        text-decoration: none;
    }

    &__button {
        position: absolute;
        margin-top: 33.75rem; //550px

        height: 3rem; //48px
        width: 10rem; //160px
        font-size: 0.9rem; //14.4px
        font-family: 'Raleway', sans-serif;

        background-color: transparent;
        border: 1px solid $color-primary-ligth;
        color: $color-primary-ligth;
        text-decoration: none;
        animation: arrow 2s infinite;

        &-arrow {
            width: 0.9rem; // 14.4px
            height: 0.9rem; // 14.4px
        }
    }

    @media screen and(min-width: 900px) and(max-width: 1099px){
        &__anchor {
            display: flex;
            justify-content: center;
            text-decoration: none;
        }
    
        &__button {
            position: absolute;
            margin-top: 39rem; 
    
            height: 4.5rem; //64px
            width: 13rem; //176px
            font-size: 1.25rem; 
            font-family: 'Raleway', sans-serif;
    
            background-color: transparent;
            border: 1px solid $color-primary-ligth;
            color: $color-primary-ligth;
            text-decoration: none;
            animation: arrow 2s infinite;
    
            &-arrow {
                width: 1.3rem;
                height: 1.3rem; 
            }
        }
    }

    @media screen and(min-width: 430px) and(max-width:649px){
        &__button {
            position: absolute;
            margin-top: 43rem; 
    
            height: 3.5rem; //48px
            width: 12rem; //160px
            font-size: 1.1rem; 
            font-family: 'Raleway', sans-serif;
    
            background-color: transparent;
            border: 1px solid $color-primary-ligth;
            color: $color-primary-ligth;
            text-decoration: none;
            animation: arrow 2s infinite;
    
            &-arrow {
                width: 1.1rem;
                height: 1.1rem; 
            }
        }
    }

    @media screen and(min-width: 650px) and(max-width:780px){
        &__button {
            position: absolute;
            margin-top: 41rem; 
    
            height: 4.5rem; //48px
            width: 13rem; //160px
            font-size: 1.25rem; 
            font-family: 'Raleway', sans-serif;
    
            background-color: transparent;
            border: 1px solid $color-primary-ligth;
            color: $color-primary-ligth;
            text-decoration: none;
            animation: arrow 2s infinite;
    
            &-arrow {
                width: 1.25rem;
                height: 1.25rem; 
            }
        }
    }

    @media screen and(min-width: 781px) and(max-width:899px){
        &__button {
            position: absolute;
            margin-top: 43rem; 
    
            height: 4rem; //48px
            width: 12.5rem; //160px
            font-size: 1.15rem; 
            font-family: 'Raleway', sans-serif;
    
            background-color: transparent;
            border: 1px solid $color-primary-ligth;
            color: $color-primary-ligth;
            text-decoration: none;
            animation: arrow 2s infinite;
    
            &-arrow {
                width: 1.15rem;
                height: 1.15rem; 
            }
        }
    }

    @media(min-width: 1100px){
        &__anchor {
            display: flex;
            justify-content: center;
            text-decoration: none;
        }
    
        &__button {
            position: absolute;
            margin-top: 36rem; 
    
            height: 4rem; //48px
            width: 12rem; //160px
            font-size: 1.1rem; 
            font-family: 'Raleway', sans-serif;
    
            background-color: transparent;
            border: 1px solid $color-primary-ligth;
            color: $color-primary-ligth;
            text-decoration: none;
            animation: arrow 2s infinite;
    
            &-arrow {
                width: 1.1rem;
                height: 1.1rem; 
            }
        }
    }

    @media(min-width: 1500px){
        &__anchor {
            display: flex;
            justify-content: center;
            text-decoration: none;
        }
    
        &__button {
            position: absolute;
            margin-top: 43rem; 
    
            height: 6rem; //48px
            width: 14rem; //160px
            font-size: 1.3rem; 
            font-family: 'Raleway', sans-serif;
    
            background-color: transparent;
            border: 1px solid $color-primary-ligth;
            color: $color-primary-ligth;
            text-decoration: none;
            animation: arrow 2s infinite;
    
            &-arrow {
                width: 1.3rem;
                height: 1.3rem; 
            }
        }
    }
}

@mixin button-sub {
    position: relative;
    margin-top: 5rem;
    margin-left: 3rem;

    height: 3rem; //48px
    width: 10rem; //160px
    font-size: 1rem; //14.4px
    font-family: 'Raleway', sans-serif;

    background-color: transparent;
    border: 1px solid $color-primary-ligth;
    color: $color-primary-ligth;
    text-align: center;
    text-decoration: none;

    @media screen and(min-width: 350px) and(max-width: 399px){
        margin-left: 2.2rem;
    }

    @media screen and(min-width: 400px) and(max-width: 429px){
        margin-left: 3rem;
    }

    @media screen and (min-width: 430px) and (max-width: 500px){
        margin-left: 1.5rem;
        margin-top: 8rem;
        height: 3.5rem;
        width: 11rem;
    }

    @media screen and (min-width: 501px) and (max-width: 649px){
        margin-left: 2rem;
        margin-top: 5rem;
        height: 3.5rem;
        width: 11rem;
    }

    @media screen and(min-width: 650px) and (max-width: 899px){
        margin-left: 2rem;
        margin-top: 5rem;
        height: 5rem;
        width: 13rem;
        font-size: 1.15rem;
    }

    @media screen and (min-width: 900px) and (max-width: 999px){
        margin-left: 2rem;
        margin-top: 1.5rem;
        height: 5rem;
        width: 13rem;
        font-size: 1.15rem;
    }

    @media screen and(min-width: 1000px) and (max-width: 1099px){
        margin-left: 2rem;
        margin-top: 3rem;
        height: 4rem;
        width: 11.8rem;
    }

    @media screen and(min-width: 1100px) and(max-width: 1349px){
        position: relative;
        margin-top: 3rem; 
        margin-left: 1.6rem;

        height: 4rem; //48px
        width: 12rem; //160px
        font-size: 1rem; //14.4px
        font-family: 'Raleway', sans-serif;

        background-color: transparent;
        border: 1px solid $color-primary-ligth;
        color: $color-primary-ligth;
        text-align: center;
        text-decoration: none;
    }

    @media screen and(min-width: 1350px) and(max-width: 1499px){
        position: relative;
        margin-top: 3rem; 
        margin-left: 1.6rem;

        height: 4rem; //48px
        width: 12rem; //160px
        font-size: 1rem; //14.4px
    }

    @media screen and(min-width: 1500px) and(max-width: 1999px){
        position: relative;
        margin-top: 4rem; 
        margin-left: 1.6rem;

        height: 6rem; //48px
        width: 18rem; //160px
        font-size: 1.65rem; //14.4px
        font-family: 'Raleway', sans-serif;

        background-color: transparent;
        border: 1px solid $color-primary-ligth;
        color: $color-primary-ligth;
        text-align: center;
        text-decoration: none;
    }

    @media(min-width: 2000px){
        position: relative;
        margin-top: 8rem; 
        margin-left: 1.6rem;

        height: 7rem; //48px
        width: 19rem; //160px
        font-size: 1.85rem; //14.4px
        font-family: 'Raleway', sans-serif;

        background-color: transparent;
        border: 1px solid $color-primary-ligth;
        color: $color-primary-ligth;
        text-align: center;
        text-decoration: none;
    }
}

@mixin button-sub-2 {
    position: relative;
    margin: 0px auto;

    height: 3rem; //48px
    width: 10rem; //160px
    font-size: 0.9rem; //14.4px
    font-family: 'Raleway', sans-serif;

    background-color: transparent;
    border: 1px solid $color-gray-one;
    color: $color-gray-one;
    text-align: center;
    text-decoration: none;

    @media screen and(min-width: 500px) and(max-width: 1099px){
        height: 4.5rem; 
        width: 13rem; 
        font-size: 1.25rem;
    }

    @media(min-width: 1100px){
        height: 4rem; //48px
        width: 12rem; //160px
        font-size: 1rem; //14.4px
    }

    @media screen and(min-width: 1500px) and(max-width: 1799px){
        height: 6rem; //48px
        width: 18rem; //160px
        font-size: 1.65rem; //14.4px
    }

    @media(min-width: 1800px){
        height: 6rem; //48px
        width: 18rem; //160px
        font-size: 1.65rem; //14.4px
    }
}

@mixin button-sub-3 {
    position: relative;
    margin-top: 4rem; //64px

    height: 3rem; //48px
    width: 10rem; //160px
    font-size: 0.9rem; //14.4px
    font-family: 'Raleway', sans-serif;

    background-color: transparent;
    border: 1px solid $color-gray-two;
    color: $color-gray-two;
    text-align: center;
    text-decoration: none;

    @media(min-width: 1100px){
        margin-top: 4.5rem;
        height: 4rem;
        width: 12rem;
        font-size: 1rem;
        justify-content: center;
        
    }
}