<!DOCTYPE html>
{% load static %}
<html lang="es-MX">
<head>
    <!--  Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#3C484E">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'src/css/style.css' %}" type="text/css">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'public/images/logo.png' %}">
    <title>El pinche Grabador | Blog</title>
</head>
<body>

        <div class="nave" id="top">
                <input type="checkbox" class="nave__checkbox" id="navi-toggle">
                <label for="navi-toggle" class="nave__button">
                    <span class="nave__icon">&nbsp;</span>
                </label>
    
                <div class="nave__background">&nbsp;</div>
    
                <header class="nave__navig">
                    <ul class="nave__list">
                        <li class="nave__item"><a href="{% url 'home' %}" class="nave__link">INICIO</a></li>
                        <li class="nave__item"><a href="{% url 'gallery' %}" class="nave__link">GALERÍA</a></li>
                        <li class="nave__item"><a href="{% url 'blog' %}" class="nave__link">BLOG</a></li>
                        <li class="nave__item"><a href="{% url 'about' %}" class="nave__link">SOBRE MÍ</a></li>
                        <li class="nave__item"><a href="{% url 'points' %}" class="nave__link">PUNTOS DE VENTA</a></li>
                        <li class="nave__item"><a href="{% url 'form' %}" class="nave__link">Contácto</a></li>
                    </ul>
                </header>
            </div>

    <div id="blog__zone"></div>
    
    
    <div id="banner-3" class="blog-enable BananaEffect-2" style="margin-top: 17rem;">
        {% for article in blogs %}       
        <article class="card">
            <header class="card__thumb">
                <a href="{% url 'article' article.id article.title|slugify %}"><img src="{{ article.image.url }}" alt="article"/></a>
            </header>
            <date class="card__date">
                <span class="card__date__day">{{ article.day }}</span>
                <br/>
                <span class="card__date__month">{{ article.month }}</span>
                <br/>
                <span class="card__date__month">{{ article.year }}</span>
            </date>
                    
            <div class="card__body">
                {% if forloop.first %}<div class="card__category"><a href="{% url 'article' article.id article.title|slugify %}">Nuevo</a></div>{% endif %}
                <h2 class="card__title"><a href="{% url 'article' article.id article.title|slugify %}">{{ article.title }}</a></h2>
                <div class="card__subtitle">{{ article.subtitle }}</div>
                    <p class="card__description">{{ article.short_description|safe|slice:":45" }}</p>
                </div>


                <footer class="card__footer">
                <span class="icon ion-chatbox"></span>Por: {{ article.author }}
                </footer>
        </article>
        {% endfor %}
    </div>
   
    

    <footer class="footer_content">
            <div class="footer_content-social">
                <a href="https://www.instagram.com/elpinchegrabador/"><img class="footer_content-social-1" src="{% static 'public/images/instagram_logo.svg' %}" alt="instagram' %}"></a>
                <a href="https://www.facebook.com/Taller-elpinchegrabador-858101250939661/"><img class="footer_content-social-1" src="{% static 'public/images/facebook_logo.svg' %}" alt="facebook"></a>
                <a href="{% url 'form' %}"><img class="footer_content-social-1" src="{% static 'public/images/email.svg' %}" alt="e-mail"></a>
            </div>

            <div class="footer_content-contact">
                <p class="footer_content-contact-1">elpinchegrabador@gmail.com</p>
            </div>

            <div class="footer_content-logo">
                <img class="footer_content-logo__image" src="{% static 'public/images/logo.png' %}" alt="logo">
            </div>

            <div class="footer_content-text">
                <small class="footer_content-text__desc">©El Pinche Grabador, 2019</small>
            </div>

            <a class="footer_content-button" href="#top">
                <button class="footer_content-button-1">
                    IR A INICIO &nbsp; 
                    <img class="footer_content-button-1-arrow" src="{% static 'public/images/down_arrow.png' %}" alt="up_arrow"/>
                </button>
            </a> 
        </footer>
 
</body>
</html>