body {
    margin: 0px;
}

.BananaEffect {
    animation: bananaPhantom 1.5s ease-in;
}

.BananaEffect-2 {
    animation: bananaPhantom2 1.2s ease-in;
}

.BananaEffect-3 {
    animation: bananaPhantom3 1.8s ease-in;
}