<!DOCTYPE html>
{% load static %}
<html lang="es-MX">
<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#3C484E">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'src/css/style.css' %}" type="text/css">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'public/images/logo.png' %}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
    
    <title>El Pinche Grabador | Sobre Mí</title>
</head>
<body>

        <div class="nave" id="top">
                <input type="checkbox" class="nave__checkbox" id="navi-toggle">
                <label for="navi-toggle" class="nave__button">
                    <span class="nave__icon">&nbsp;</span>
                </label>
    
                <div class="nave__background">&nbsp;</div>
    
                <header class="nave__navig">
                    <ul class="nave__list">
                        <li class="nave__item"><a href="{% url 'home' %}" class="nave__link">INICIO</a></li>
                        <li class="nave__item"><a href="{% url 'gallery' %}" class="nave__link">GALERÍA</a></li>
                        <li class="nave__item"><a href="{% url 'blog' %}" class="nave__link">BLOG</a></li>
                        <li class="nave__item"><a href="{% url 'about' %}" class="nave__link">SOBRE MÍ</a></li>
                        <li class="nave__item"><a href="{% url 'points' %}" class="nave__link">PUNTOS DE VENTA</a></li>
                        <li class="nave__item"><a href="{% url 'form' %}" class="nave__link">Contácto</a></li>
                    </ul>
                </header>
            </div>

    <div class="about BananaEffect-3" id="me">
        <h2 class="about__author">elpinchegrabador</h2>
        <h5 class="about__birth">Guanajuato, México 1978.</h5>

        <div class="about__image">
            <img class="about__image-author" src="{% static 'public/images/ELPINCHE.jpg' %}">
        </div>

            <div class="about__desc">
                <p class="about__desc-text">
                        Se dice que el grabado es la cocina del arte, 
                        el pinche es el ayudante de cocinero. 
                        Y yo comencé como ayudante de un grabador, 
                        es por eso que soy elpinchegrabador. 
                        Como grabador he trabajado las técnicas tradicionales, 
                        dentro de mi portafolio abarco los temas desde la 
                        cultura popular mexicana, sus calaveras, 
                        bestiarios hasta los abstractos.  
                        Actualmente me encuentro explorando las diversas 
                        etapas de la condición humana a través de su rostro.                    
                </p>
            </div>

            <div class="about__desc">
                    <p class="about__desc-text">
                        Desde muy joven tuve gran afición por el dibujo, 
                        haciendo de esto mi primera gran pasión y es a los 20 
                        años que conocí por primera vez el oficio del grabado, 
                        impresionado por tal técnica decidí tomarla como 
                        forma de vida, explorándola y practicándola hasta la fecha. 
                        Al terminar mis estudios universitarios emprendí un viaje que 
                        me llevo a las ciudades de Nayarit, Mazatlán y Baja California Sur, 
                        con el solo objetivo de dedicarme a este bello oficio. 
                        Tuve la oportunidad de vender mis estampas en calles, malecones, 
                        ferias de arte y en cualquier lugar disponible. 
                        En el 2013 regreso a mi tierra de origen donde abro mi primer taller-galería 
                        en la cual sigo trabajando hasta la fecha.                    
                    </p>
                </div>
    </div>

                <div class="about__buttons">
                    <a class="about__buttons-anchor-1" href="{% url 'taller' %}">
                        <button class="about__buttons-1">TALLER</button>
                    </a>
            
                    <a class="about__buttons-anchor-2" href="{% url 'points' %}">
                        <button class="about__buttons-2">PUNTOS DE VENTA</button>
                    </a>
                </div>

                <footer class="footer_content">
                        <div class="footer_content-social">
                            <a href="https://www.instagram.com/elpinchegrabador/"><img class="footer_content-social-1" src="{% static 'public/images/instagram_logo.svg' %}" alt="instagram"></a>
                            <a href="https://www.facebook.com/Taller-elpinchegrabador-858101250939661/"><img class="footer_content-social-1" src="{% static 'public/images/facebook_logo.svg' %}" alt="facebook"></a>
                            <a href="{% url 'form' %}"><img class="footer_content-social-1" src="{% static 'public/images/email.svg' %}" alt="e-mail"></a>
                        </div>
    
                        <div class="footer_content-contact">
                            <p class="footer_content-contact-1">elpinchegrabador@gmail.com</p>
                        </div>
    
                        <div class="footer_content-logo">
                            <img class="footer_content-logo__image" src="{% static 'public/images/logo.png' %}">
                        </div>
    
                        <div class="footer_content-text">
                            <small class="footer_content-text__desc">©El Pinche Grabador, 2019</small>
                        </div>
    
                        <a class="footer_content-button" href="#top">
                            <button class="footer_content-button-1">
                                IR A INICIO &nbsp; 
                                <img class="footer_content-button-1-arrow" src="{% static 'public/images/down_arrow.png' %}" alt="up_arrow"/>
                            </button>
                        </a> 
                    </footer>
</body>
</html>