<!DOCTYPE html>
{% load static %}
<html lang="es-MX">
<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#3C484E">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'src/css/style.css' %}" type="text/css">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'public/images/mezcal.png' %}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <title>El Pinche Grabador | Inicio</title>
</head>
<body>

        <div class="nave" id="top">
                <input type="checkbox" class="nave__checkbox" id="navi-toggle">
                <label for="navi-toggle" class="nave__button">
                    <span class="nave__icon">&nbsp;</span>
                </label>
    
                <div class="nave__background">&nbsp;</div>
    
                <header class="nave__navig">
                    <ul class="nave__list">
                        <li class="nave__item"><a href="{% url 'home' %}" class="nave__link">INICIO</a></li>
                        <li class="nave__item"><a href="{% url 'gallery' %}" class="nave__link">GALERÍA</a></li>
                        <li class="nave__item"><a href="{% url 'blog' %}" class="nave__link">BLOG</a></li>
                        <li class="nave__item"><a href="{% url 'about' %}" class="nave__link">SOBRE MÍ</a></li>
                        <li class="nave__item"><a href="{% url 'points' %}" class="nave__link">PUNTOS DE VENTA</a></li>
                        <li class="nave__item"><a href="{% url 'form' %}" class="nave__link">Contácto</a></li>
                    </ul>
                </header>
            </div>


    <div class="headerland" id="header">
        <div class="headerland__container">
            <img class="headerland__logo BananaEffect" src="{% static 'public/images/logo.png' %}" alt="elpinchegrabador">
            <form class="headerland__container BananaEffect" action="#banner-1" method="get">
                <button class="headerland__button">
                    DESCUBRIR &nbsp; 
                    <img class="headerland__button-arrow" src="{% static 'public/images/down_arrow.png' %}" alt="down_arrow"/>
                </button>
            </form>
        </div>
    </div>
    
    <div class="bannerOne" id="banner-1"> 
        <h2 class="bannerOne__title BananaEffect">
            ...comencé como ayudante de un grabador, 
            es por eso que soy 
            <span class="bannerOne__title bannerOne__title-artist  BananaEffect">
                <img class="bannerOne__title-artist-sign" src="{% static 'public/images/FIRMA_PINCHE.png' %}" alt="sign"> 
            </span>
        </h2>

        <video class="responsive-video BananaEffect-2" controls loop>
            <source  src="{% static 'public/images/elpinchegrabador.mp4' %}" type="video/mp4">
        </video>

        <div class="bannerOne-buttons BananaEffect">
            <a class="bannerOne-buttons-anchor-1" href="{% url 'about' %}">
                <button class="bannerOne-buttons-1">SOBRE MÍ</button>
            </a>
            
            <a class="bannerOne-buttons-anchor-2" href="#grid_img">
                <button class="bannerOne-buttons-2">GALERÍA &nbsp; 
                    <img class="bannerOne-buttons-2-arrow" src="{% static 'public/images/down_arrow.png' %}" alt="down_arrow"/>
                </button>
            </a>
        </div>
    </div>


    <div class="grid_container" id="grid_img">
        <div class="container">
            <div class="row BananaEffect-2">
                {% for picture in pictures %}
                    {% if forloop.counter0 < 8 %}
                    <div class="col s6 m6 l3">
                        <a href="{% url 'picture' picture.id picture.title|slugify %}">
                            <img  class="one-elements" src="{{ picture.image.url }}" alt="galery_element"/>
                        </a> 
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            
            <!--
                <div class="col s6 m6 l3">
                    <a href="#">
                        <img class="one-elements" src="{% static './public/images/galeria/obras/MAGUEY_ALTA.jpg' %}"/>
                    </a>
                </div>
                <div class="col s6 m6 l3">
                    <a href="#">
                        <img class="one-elements" src="{% static './public/images/galeria/obras/LOS_NOVIOS.jpg' %}"/>
                    </a>
                </div>
                <div class="col s6 m6 l3">
                    <a href="#">
                        <img class="one-elements" src="{% static './public/images/galeria/obras/LANGOSTA.jpg' %}"/>
                    </a>
                </div>
            </div>

            <div class="row">
                    <div class="col s6 m6 l3">
                        <a href="#">
                            <img class="one-elements" src="{% static './public/images/galeria/obras/AGAVE BAJA.jpg' %}"/>
                        </a> 
                    </div>
                    <div class="col s6 m6 l3">
                        <a href="#">
                            <img class="one-elements" src="{% static './public/images/galeria/obras/SANTO.jpg' %}"/>
                        </a>
                    </div>
                    <div class="col s6 m6 l3">
                        <a href="#">
                            <img class="one-elements" src="{% static './public/images/galeria/obras/SIRENA.jpg' %}"/>
                        </a>
                    </div>
                    <div class="col s6 m6 l3">
                        <a href="#">
                            <img class="one-elements" src="{% static './public/images/galeria/obras/PICAFLOR.jpg' %}"/>
                        </a>
                    </div>
                </div>
            </div>
            -->
        </div>

                <div class="bannerTwo-buttons BananaEffect-2">
                        <form class="bannerOne-buttons-anchor-1" action="{% url 'gallery' %}" method="get">
                            <button class="bannerTwo-buttons-1">EXPLORAR</button>
                        </form>
                        <form class="bannerOne-buttons-anchor-2" href="#banner-3">
                            <button  class="bannerTwo-buttons-2">BLOG &nbsp;
                                <img class="bannerOne-buttons-2-arrow" src="{% static './public/images/down_arrow.png' %}" alt="down_arrow"/>
                            </button>
                        </form>
                    </div>

                        <div id="banner-3" class="bannerThree BananaEffect-2" style="margin-top: 18rem;">
                            <!-- <div class="bannerContainer"> -->
                            {% for article in articles %}
                                {% if forloop.counter0 < 3 %}
                                <article class="card" style="margin-top: 2rem;">
                                  <header class="card__thumb">
                                    <a href="{% url 'article' article.id article.title|slugify %}"><img src="{{ article.image.url }}" alt="galery_element"/></a>
                                  </header>
                                  <p class="card__date">
                                    <span class="card__date__day">{{ article.day }}</span>
                                    <br/>
                                    <span class="card__date__month">{{ article.month }}</span>
                                  </p>
                                  
                                  <div class="card__body">
                                    {% if forloop.first %}<div class="card__category"><a href="{% url 'article' article.id article.title|slugify %}">Nuevo</a></div>{% endif %}
                                    <h2 class="card__title"><a href="{% url 'article' article.id article.title|slugify %}">{{ article.title }}</a></h2>
                                    <div class="card__subtitle">{{ article.subtitle }}</div>
                                    <p class="card__description"> {{ article.short_description|safe|slice:":45" }}</p>
                                  </div>
                                  
                                  <footer class="card__footer">
                                    <span class="icon ion-chatbox"></span>Por: {{ article.author }}
                                   </footer>
                                </article>
                                {% endif %}
                            {% endfor %}

                                <!--
                                <article class="card" style="margin-top: 2rem;">
                                    <header class="card__thumb">
                                      <a href="#"><img src="{% static 'public/images/galeria/galerias/san_roque/SAN_ROQUE_2.jpg' %}"/></a>
                                    </header>
                                    <date class="card__date">
                                      <span class="card__date__day">2</span>
                                      <br/>
                                      <span class="card__date__month">ABR</span>
                                    </date>
                                        
                                    <div class="card__body">
                                      <h2 class="card__title"><a href="#">Cómo buscamos la inspiración en cada detalle</a></h2>
                                      <div class="card__subtitle">¿Qué elementos nos mantinen creativos?</div>
                                      <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        
                                    <footer class="card__footer">
                                      <span class="icon ion-chatbox"></span><a href="#"> Por: El pinche Grabador</a>
                                    </footer>
                                </article>

                                <article class="card" style="margin-top: 2rem;">
                                        <header class="card__thumb">
                                          <a href="#"><img src="{% static 'public/images/galeria/galerias/pocitos/pocitos_5.jpg' %}"/></a>
                                        </header>
                                        <date class="card__date">
                                          <span class="card__date__day">24</span>
                                          <br/>
                                          <span class="card__date__month">MAR</span>
                                        </date>
                                            
                                        <div class="card__body">
                                          <h2 class="card__title"><a href="#">El Pinche Grabador detrás de escenas</a></h2>
                                          <div class="card__subtitle">Desde una idea hasta su creación</div>
                                          <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                            
                                        <footer class="card__footer">
                                          <span class="icon ion-chatbox"></span><a href="#"> Por: Jainite Silvestre</a>
                                        </footer>
                                    </article>
                                    -->
                            <!-- </div> -->
                        </div>

                        <form class="blog BananaEffect-2" action="{% url 'blog' %}" method="get">
                            <button class="blog__button">PUBLICACIONES</button>
                        </form> 
            
                <footer class="footer_content">
                    <div class="footer_content-social">
                        <a href="https://www.instagram.com/elpinchegrabador/"><img class="footer_content-social-1" src="{% static 'public/images/instagram_logo.svg' %}" alt="instagram"></a>
                        <a href="https://www.facebook.com/Taller-elpinchegrabador-858101250939661/"><img class="footer_content-social-1" src="{% static 'public/images/facebook_logo.svg' %}" alt="facebook"></a>
                        <a href="{% url 'form' %}"><img class="footer_content-social-1" src="{% static 'public/images/email.svg' %}" alt="e-mail"></a>
                    </div>

                    <div class="footer_content-contact">
                        <p class="footer_content-contact-1">elpinchegrabador@gmail.com</p>
                    </div>

                    <div class="footer_content-logo">
                        <img class="footer_content-logo__image" src="{% static 'public/images/logo.png' %}" alt="logo">
                    </div>

                    <div class="footer_content-text">
                        <small class="footer_content-text__desc">©El Pinche Grabador, 2019</small>
                    </div>

                    <form class="footer_content-button" action="#top" method="get">
                        <button class="footer_content-button-1">
                            IR A INICIO &nbsp; 
                            <img class="footer_content-button-1-arrow" src="{% static './public/images/down_arrow.png' %}" alt="up_arrow"/>
                        </button>
                    </form> 
                </footer>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>