.grid_galery {
    margin-top: 1rem; 
}

.One {
    &-elements {
        max-width: 100%;
        max-height: 100%;
        border-radius: 0.32rem; //5.12px

        &:hover {
            -webkit-filter: blur(2px); /* Safari */
            filter: blur(2px);
        }
    }
}

.Two {
    grid-column: 4/7;
    grid-row: 1/4;

    &-elements {
        max-width: 100%;
        max-height: 100%;
        border-radius: 0.32rem; //5.12px

        &:hover {
            -webkit-filter: blur(2px); /* Safari */
            filter: blur(2px);
        }
    }
}