$color-primary-dark: #546e7a;
$color-secondary-dark: #263238;
$color-tertiary-dark: black;
$color-black: black;

$color-gray-one: #78909C;
$color-gray-two: #3C484E;

$color-yellow: #ffea00;
$color-red: #ff3d00;

$color-primary-ligth: white;
$color-white: white;


//Variables para la animación de las tarjetas
$duration: 0.5s;
$delay: 0.2s;